
.header{
  position: relative;
  background-color: #343a40;
  color: #fff;
  height: 3.5rem;
}

ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0;
}

li{
  list-style: none;
  border-right: 5px solid #343a40;
}

li:hover{
  box-shadow: 2px 2px 2px 1px #ff6900;
  opacity: 90%;
  cursor: pointer;
  border-radius: 5px;
}

img:hover{
  cursor: pointer;
}

*{
  font-family: 'Rubik', sans-serif;
}

.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
  height: 2rem;
  width: 2rem;
}

.rounded-circle {
  border-radius: 50%!important;
}

img {
  vertical-align: middle;
  border-style: none;
}
