<div class="header" *ngIf="auth.verificaLogado()">
    <ul>
      <img src="../../../assets/logo-fixo.png" alt="" routerLink="">
      <li routerLink="home" *ngIf="mostraHeader">Home</li>
      <li routerLink="produtos" *ngIf="mostraHeader && auth.verificaAdm()">Produtos</li>
      <li routerLink="clientes" *ngIf="mostraHeader && auth.verificaAdm()">Clientes</li>
      <li routerLink="pedidos" *ngIf="mostraHeader && auth.verificaAdm()">Pedidos</li>
      <li routerLink="fluxos" *ngIf="mostraHeader && auth.verificaAdm()">Fluxo</li>
      <li (click)="logout()" *ngIf="mostraHeader && auth.verificaLogado()">Logout</li>
    </ul>
</div>
