
.header{
  position: relative;
  background-color: #343a40;
  color: #fff;
  height: 3.5rem;
}

ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0;
}

li{
  list-style: none;
  border-right: 5px solid #343a40;
}

li:hover{
  box-shadow: 2px 2px 2px 1px #ff6900;
  opacity: 90%;
  cursor: pointer;
}

img:hover{
  cursor: pointer;
}

*{
  font-family: 'Rubik', sans-serif;
}
