<body>
  <div class="container container-tabela">
    <div *ngIf="!auth.verificaLogado()" class="d-flex justify-content-center">
      <div class="alert alert-warning text-center mt-4 w-25">
        <p><strong>Você não tem permissão para cadastrar novos produtos.</strong></p>
      </div>
    </div>

    <div class="container-produto">
      <div class="container">
        <div class="header">
          <span>Produtos</span>
          <button type="submit" (click)="createProduto()" id="new">Incluir</button>
        </div>

        <div class="divTable">
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th style="width:50%">Descrição</th>
                <th>Valor</th>
                <th>Estoque</th>
                <th class="acao">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of produtos">
                <td>{{produto.nome}}</td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.valor | currency}}</td>
                <td>{{produto.qtdEstoque}} un.</td>
                <td class="acao">
                  <button><i class='bx bx-cart' (click)="addProduto(produto)"></i></button>
                  <button><i class='bx bx-show' (click)="viewProduto(produto)"></i></button>
                  <button><i class='bx bx-edit' (click)="editProduto(produto)"></i></button>
                  <button><i class='bx bx-trash' (click)="deleteProduto(produto)"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

