.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 12rem);
}

.textbox{
  width: 20rem;
}

.botao{
  background-color: #ff6900;
  width: 7rem;
  margin-top: 1.5rem;
}

h2{
  margin-top: 1rem;
  text-align: center;
}

.container-produto{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 3rem 0 7rem;
}

.tabela{
  height: 20rem;
  overflow-y: scroll;
}

td{
  width: 9rem;
}

.produto-p{
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
}

button{
  border: none;
  background-color: rgb(255, 134, 134);
  margin: .5rem .5rem .5rem 0;
}
