<h2>Cadastro Produto</h2>

<div *ngIf="!auth.verificaAdm()" class="d-flex justify-content-center">
  <div class="alert alert-warning text-center mt-4 w-25">
    <p><strong>Você não tem permissão para cadastrar novos produtos.</strong></p>
  </div>
</div>

<div class="container-produto">
 <div class="container">
    <div class="header">
      <span>Produtos</span>
      <button onclick="modalCreateProduto()" id="new">Incluir</button>
    </div>

    <div class="divTable">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Função</th>
            <th>Salário</th>
            <th class="acao">Editar</th>
            <th class="acao">Excluir</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="modal-container">
      <div class="modal">
        <form>
          <label for="m-nome">Nome</label>
          <input id="m-nome" type="text" required />
  
          <label for="m-funcao">Função</label>
          <input id="m-funcao" type="text" required />
  
          <label for="m-salario">Salário</label>
          <input id="m-salario" type="number" required />
          <button id="btnSalvar">Salvar</button>
        </form>
      </div>
    </div>

  </div>




  <!-- <form [formGroup]="produtoForm" *ngIf="auth.verificaAdm()">
    <div class="inputs">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control textbox" id="nome" formControlName="nome">
      </div>
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição:</label>
        <input type="text" class="form-control textbox" id="descricao" formControlName="descricao">
      </div>
      <div class="mb-3">
        <label for="valor" class="form-label">Valor:</label>
        <input type="number" class="form-control textbox" id="valor" formControlName="valor">
      </div>
      <div class="mb-3">
        <label for="qtd_estoque" class="form-label">Estoque:</label>
        <input type="number" class="form-control textbox" id="qtd_estoque" formControlName="qtd_estoque">
      </div>
      <div *ngIf="id==-1">
        <button type="submit" (click)="cadastrarProduto()" class="btn botao">Cadastrar</button>
      </div>
      <div *ngIf="id!=-1">
        <button type="submit" (click)="editarProduto()" class="btn botao">Editar</button>
      </div>
    </div>
  </form>
  <div #tabela class="tabela">
    <table>
      <thead>
          <tr>
              <th>Nome</th>
              <th>Valor</th>
              <th>Estoque</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let produto of listaProduto; index as i" class="produto">
              <td>{{produto.nome}} </td>
              <td>{{produto.valor | currency: 'BRL'}}</td>
              <td>{{produto.qtd_estoque}}</td>
              <button class="remove" (click)="removeProduto(produto.id)"  *ngIf="auth.verificaAdm()">Remover</button>
              <button class="update" (click)="pushProduto(i)"  *ngIf="auth.verificaAdm()">Editar</button>
          </tr>
      </tbody>
  </table>
  </div> -->
</div>
