
.div-fluxo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 505px;
  padding-top: 1rem;
  box-shadow: 5px 5px 5px #a7abaf;
  border-radius: 25px;
  background-color: white;
}
.cards{
  display: flex;
}
.receita-container{
  padding: 2rem 2rem 2rem 2rem;
  gap: 2rem;

}

.receita-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.receita-card{
  margin-right: 1rem;
  width: 11rem;
  color: black;
  padding: 1rem;
  box-shadow: 5px 5px 5px #a7abaf;
  border-radius: 25px;
  padding-bottom: 0;
  background-color: white;
}

.titulo-card{
  padding-left: .5rem;
  border-left: solid 3px black;
}

.mostra-receita{
  height: 3rem;
}

.box{
  border: none;
  border-left: solid 3px black;
  color: black ;
  background-color: #e0e6ed;
  padding: .4rem;
  margin-bottom: 1rem;
}

.total-ano{
  font-size: larger;
  font-weight: bold;
  border-bottom: solid 2px rgb(63, 233, 63);
}

/* 343a40 */
