.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 9rem);
}

.textbox{
  width: 20rem;
}

.botao{
  background-color: #ff6900;
  width: 7rem;
  margin-top: 1.5rem;
}
