<div class="div">

  <img src="../../../assets/logo-scroll.png" alt="logo-farmarcas" class="logo">

  <form [formGroup]="loginForm">
    <div class="inputs">
      <div class="mb-3">
        <label for="email" class="form-label">Login:</label>
        <input type="email" class="form-control textbox" id="email" placeholder="name@example.com"
          formControlName="email" [ngClass]="mensagemErro ? 'is-invalid' : ''">
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha:</label>
        <input type="password" class="form-control textbox" id="senha" formControlName="senha"
          [ngClass]="mensagemErro ? 'is-invalid' : ''">
      </div>
      <div *ngIf="mensagemErro" class="alert alert-danger">
        <span>Email ou senha incorretos.</span>
      </div>
        <button type="submit" (click)="verificaLogin()" class="btn botao">Login</button>
    </div>
  </form>
</div>