<div [formGroup]="cadastroProduto">

  <h1>Cadastro de produto</h1>

  <div class="inputs">
    <div class="input-individual">
      <label for="id">Id </label>
      <input id="id" type="text" formControlName="id">
    </div>
    <div class="input-individual">
      <label for="nome">Nome </label>
      <input id="nome" type="text" formControlName="nome">
    </div>
    <div class="input-individual">
    <label for="descricao">Descrição </label>
    <input id="descricao" type="text" formControlName="descricao">
  </div>
  <div class="input-individual">
    <label for="valor">Valor </label>
    <input id="valor" type="text" formControlName="valor">
  </div>
  <div class="input-individual">
    <label for="quantidade">Quantidade </label>
    <input id="quantidade" type="text" formControlName="quantidade">
  </div>
  <button (click)="onSubmit()">Cadastrar</button>
  </div>
</div>
