<div class="div-pedidos">
    <h2>Pedido do cliente</h2>

    <form [formGroup]="pedidoClienteForm">
      <div class="inputs">
        <div class="mb-3">
          <label for="cliente_id" class="form-label">Email:</label>
          <input type="text" class="form-control textbox" id="cliente_id" formControlName="cliente_id">
        </div>
        <div class="mb-3">
          <label for="valor_total" class="form-label">Valor total:</label>
          <input type="number" class="form-control textbox" id="valor_total" formControlName="valor_total">
        </div>
        <div class="mb-3">
          <label for="data" class="form-label">Data:</label>
          <input type="date" class="form-control textbox" id="data" formControlName="data">
        </div>
        <button type="submit" (click)="cadastrarPedidoCliente()" class="btn botao" >Cadastrar</button>
      </div>
    </form>

  <ul>
    <li *ngFor="let cliente of listaDeClientes | filter : 'cliente_id' : getSearchCtrl(pedidoClienteForm.value.cliente_id)?.value">{{cliente.email}}</li>
  </ul>
</div>


