<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Excluir Produto</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <span>Tem certeza que deseja excluir esse produto?</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="activeModal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-success" routerLink="/produtos" (click)="activeModal.dismiss()">Salvar</button>
  </div>
</div>
