<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Visualizar Loja</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="lojaForm">
      <div class="inputs">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input id="nome" formControlName="nome" type="text" required  class="form-control textbox" readonly/>
        </div>
        <div class="mb-3">
          <label for="cep" class="form-label">Cep</label>
          <input id="cep" formControlName="cep" type="number" required  class="form-control textbox" readonly/>
        </div>
        <div class="mb-3">
          <label for="logradouro" class="form-label">Lougradouro</label>
          <input id="logradouro" formControlName="logradouro" type="text" required  class="form-control textbox" readonly/>
        </div>
        <div class="mb-3">
          <label for="numero" class="form-label">Número</label>
          <input id="numero" formControlName="numero" type="number" required  class="form-control textbox" readonly/>
        </div>
        <div class="mb-3">
          <label for="bairro" class="form-label">Bairro</label>
          <input id="bairro" formControlName="bairro" type="text" required  class="form-control textbox" readonly/>
        </div>
        <div class="mb-3">
          <label for="cidade" class="form-label">Cidade</label>
          <input id="cidade" formControlName="cidade" type="text" required  class="form-control textbox" readonly/>
        </div>
        <div class="mb-3">
          <label for="estado" class="form-label">Estado</label>
          <input id="estado" formControlName="estado" type="text" required  class="form-control textbox" readonly/>
        </div>
        <div class="mb-3">
          <label for="complemento" class="form-label">Complemento</label>
          <input id="complemento" formControlName="complemento" type="text" required  class="form-control textbox" readonly/>
        </div>
        <div class="mb-3">
          <img *ngIf="mapa!=' '" [src]="mapa">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
      (click)="activeModal.close()">Cancelar</button>
  </div>
</div>