<!-- <div>
  <h5>Lista de clientes</h5>
  <div class="div-lista-cliente">
    <ul *ngFor="let cliente of listaClientes" class="lista-cliente">
      <li>Id: {{cliente.id}}</li>
      <li>Nome: {{cliente.nome}}</li>
      <li>Tel: {{cliente.telefone | formatarTelefone}}</li>
      <li>Email: {{cliente.email}}</li>
      <li>CPF: {{cliente.cpf}}</li>
      <li>CEP: {{cliente.cep}}</li>
      <li>Logradouro: {{cliente.logradouro}}</li>
      <li>Numero: {{cliente.numero}}</li>
      <li>Bairro: {{cliente.bairro}}</li>
      <li>Cidade: {{cliente.cidade}}</li>
      <li>Estado: {{cliente.estado}}</li>
      <li>Complemento: {{cliente.complemento}}</li>
    </ul>
  </div>
</div>

<div>
  <h5>Lista de Produtos</h5>
  <div class="div-lista-cliente">
    <ul *ngFor="let produto of listaProduto" class="lista-cliente">
      <li>Id: {{produto.id}}</li>
      <li>Nome: {{produto.nome}}</li>
      <li>descricao: {{produto.descricao}}</li>
      <li>valor: {{produto.valor}}</li>
      <li>Estoque: {{produto.qtdEstoque}}</li>
    </ul>
  </div>

  <div>
    <h5>Lista de Pedido Cliente</h5>
    <div class="div-lista-cliente">
      <ul *ngFor="let pedido of listaPedidoCliente" class="lista-cliente">
        <li>Id: {{pedido.id}}</li>
        <li>Id do cliente: {{pedido.cliente_id}}</li>
        <li>Valor total: {{pedido.valor_total}}</li>
        <li>Data: {{pedido.data}}</li>
      </ul>
    </div>
  </div>
  <div>
    <h5>Lista de Pedido Produto</h5>
    <div class="div-lista-cliente">
      <ul *ngFor="let pedidoProduto of listaPedidoProduto" class="lista-cliente">
        <li>Id: {{pedidoProduto.id}}</li>
        <li>pedidoId: {{pedidoProduto.pedidoId}}</li>
        <li>produtoId: {{pedidoProduto.produtoId}}</li>
        <li>valor: {{pedidoProduto.valor}}</li>
        <li>quantidade: {{pedidoProduto.quantidade}}</li>
      </ul>
    </div>
  </div> -->

<!-- ===================================================================================================================================================== -->
<!-- SUGESTÃO, AO INVÉS DE LISTAS FAZER EM TABELAS -->
<div>
  <h5>Lista de clientes</h5>
  <div class="div-lista-cliente">
    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Tel</th>
          <th scope="col">Email</th>
          <th scope="col">CPF</th>
          <th scope="col">CEP</th>
          <th scope="col">Logradouro</th>
          <th scope="col">Numero</th>
          <th scope="col">Bairro</th>
          <th scope="col">Cidade</th>
          <th scope="col">Estado</th>
          <th scope="col">Complemento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of listaClientes">
          <th scope="row">{{ cliente.id }}</th>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.telefone | formatarTelefone }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.cpf | cpf }}</td>
          <td>{{ cliente.cep }}</td>
          <td>{{ cliente.logradouro }}</td>
          <td>{{ cliente.numero }}</td>
          <td>{{ cliente.bairro }}</td>
          <td>{{ cliente.cidade }}</td>
          <td>{{ cliente.estado }}</td>
          <td>{{ cliente.complemento }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>

<div>
  <h5>Lista de Produtos</h5>
  <div class="div-lista-cliente">
    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Valor</th>
          <th scope="col">Estoque</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of listaProduto">
          <th scope="row">{{ produto.id }}</th>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.valor | currency:'BRL' }}</td>
          <td>{{ produto.qtdEstoque }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>

<div>
  <h5>Lista de Pedido Cliente</h5>
  <div class="div-lista-cliente">
    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Id Cliente</th>
          <th scope="col">Valor Total</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of listaPedidoCliente">
          <th scope="row">{{ pedido.id }}</th>
          <td>{{ pedido.cliente_id }}</td>
          <td>{{ pedido.valor_total | currency:'BRL' }}</td>
          <td>{{ pedido.data | date:'shortDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>

<div>
  <h5>Lista de Pedido Produto</h5>
  <div class="div-lista-cliente">
    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Id Pedido</th>
          <th scope="col">Id Produto</th>
          <th scope="col">Valor</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedidoProduto of listaPedidoProduto">
          <th scope="row">{{ pedidoProduto.id }}</th>
          <td>{{ pedidoProduto.pedidoId }}</td>
          <td>{{ pedidoProduto.produtoId }}</td>
          <td>{{ pedidoProduto.valor | currency:'BRL' }}</td>
          <td>{{ pedidoProduto.quantidade }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>