    <div class="container">
      <div class="header">
        <span>Cadastro de Lojas</span>
        <button type="submit" (click)="CreateLoja()" id="new">Incluir</button>
      </div>
        <div class="divTable">
          <table>
            <thead>
              <tr>
                <th>nome</th>
                <th>cep</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loja of lojas">
            <td>{{loja.nome}}</td>
            <td>{{loja.cep}}</td>
            <td class="acao">
              <button><i class='bx bx-show' (click)="ViewLoja(loja)"></i></button>
              <button><i class='bx bx-edit' (click)="EditLoja(loja)"></i></button>
              <button><i class='bx bx-trash' (click)="DeleteLoja(loja)"></i></button>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
