<body>
  <div class="container">
    <div class="container-cliente">
      <div class="container" style="height: -webkit-fill-available;">
        <div class="header">
          <span>Clientes</span>
          <button type="submit" (click)="CreateCliente()" id="new">Incluir</button>
        </div>
        <div class="container-busca">
          <input type="search" class="form-control textbox busca" id="buscar" placeholder="Pesquisar..." [(ngModel)]="termoBuscar">
        </div>
        <div class="divTable">
         
          <table>
            <thead>
              <tr>
                <th style="width:30%">Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Documento</th>
                <th class="acao">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes | filter: termoBuscar">
                <td>{{cliente.nome}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.telefone | formatarTelefone}}</td>
                <td>{{cliente.cpf | cpf}}</td>
                <td class="acao">
                  <button><i class='bx bx-show' (click)="ViewCliente(cliente)"></i></button>
                  <button><i class='bx bx-edit' (click)="EditCliente(cliente)"></i></button>
                  <button><i class='bx bx-trash' (click)="DeleteCliente(cliente)"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>