.inputs{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 14rem);
  padding: 1rem 0rem .5rem 0rem;
  width: 40rem;
}

.textbox{
  width: 15rem;
}

.botao{
  background-color: #ff6900;
  width: 9rem;
  align-self: center;
}

h2{
  margin-top: 1rem;
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seleciona-estado{
  width: 15rem;
}

.tabela{
  height: 20%;
  overflow-y: scroll;
}

.td{
  word-wrap: break-word;
  max-width: 10%;
  padding-right: 1rem;
}

.th{
  word-wrap: break-word;
  max-width: 10%;
  padding-right: 1rem;
}

.container-cliente{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 3rem 0 0 ;
}

.remove{
  border: none;
  background-color: rgb(255, 134, 134);
  margin: .5rem .5rem .5rem 0;
}

.update{
  border: none;
  background-color: rgb(134, 134, 255);
  margin: .5rem .5rem .5rem 0;
}
