<div class="receita-container">
  <div class="receita-box">
    <div class="cards">
      <div class="receita-card">
        <p class="titulo-card">Clientes cadastrados: </p>
        <p class="num">{{ clientes }}</p>
      </div>
      <div class="receita-card">
        <p class="titulo-card">Produtos cadastrados: </p>
        <p class="num">{{ produtos }}</p>
      </div>
    </div>
    <div class="div-fluxo">
      <h5>Fluxo de caixa</h5>
      <canvas baseChart width="500" height="300"
        [type]="'bar'"
        [data]="barChartData"
        [options]="barChartOptions"
        [legend]="barChartLegend">
      </canvas>
      <div class="botoes">
        <button type="button" (click)="fluxoPedidoClienteApi(21)" class="btn btn-success mb-2 mt-1">2021</button>
        <button type="button" (click)="fluxoPedidoClienteApi(22)" class="btn btn-success mb-2 mt-1">2022</button>
      </div>
    </div>
  </div>
</div>
